In [1]:
import pandas as pd
import numpy as np

In [4]:
data =pd.read_csv("2023年北京积分落户数据.csv")

In [5]:
data[:3]

        公示编号   姓名     出生年月            单位名称    积分分值
0  202300001   张浩  1977-02      北京首钢股份有限公司  140.05
1  202300002   冯云  1982-02   中国人民解放军空军二十三厂  134.29
2  202300003  王天东  1975-01  中建二局第三建筑工程有限公司  133.63

In [7]:
data["单位名称"].value_counts()

单位名称
北京华为数字技术有限公司        66
百度在线网络技术（北京）有限公司    34
中国人民解放军空军二十三厂       34
中建二局第三建筑工程有限公司      31
中央广播电视总台            28
                    ..
北京果麦文化传媒有限公司         1
博尔诚（北京）科技有限公司        1
北京至美美容有限公司           1
北京力拓寰球建筑工程有限公司       1
大爱城投资控股有限公司          1
Name: count, Length: 4583, dtype: int64